* {
    box-sizing: border-box;
}

.custom-modal {
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    /*padding-top: 100px;*/
    /* Location of the box */
    left: 50%;
    top: 30%;
    width: 300px;
    /* Full width */
    height: 350px;
    /* Full height */
    overflow-y: scroll;
    /* Enable scroll if needed */
    background-color: #fff;
    /* Fallback color */
    /*background-color: rgba(255, 255, 255, 0.4);*/
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.trix_subsection{
    color: #8594aa;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem .75rem .3rem;
}

.icon-preview{
    flex: 1 1;
    border: 1px solid #ebeced;
    border-radius: .4rem;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 60px;
}
.dropdown-subtitle{
    color: #8e9caf;
    font-size: .9rem;
}
.dropdown-title{
    color: #1f3247;
    font-weight: 500
}
li:focus {
    background-color: #f8f9fb;
    border: none;
}
